
body {
    margin: 0;
    font-family: Arial, sans-serif;
    color: #333;
    background-image: url('../img/bg2.jpg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    background-attachment: fixed; 
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  /* Hero Section */
  /* .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    color: white;
  } */
  
   .hero h1 {
    font-size: 10rem;
    font-family:'britannic bold';
    margin-bottom:0;
    color:white;
    margin-left: 13rem;

  }


  #subtitle {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    margin-left: 15rem;

  }
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white;
    margin-left: 17rem;
    font-size: 1.35rem;
  }
  
  #explore {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 30rem;

  }
  
  .hero button:hover {
    background-color: #ff9900;
  }
  
  /* Features Section */
  .features {
    padding: 40px 20px;
    /* background-color: white; */
  }
  
  .features h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
    background-color: rgba(0, 0, 0, 0.434);
    color: white;
    padding: 10px;
    border-radius: 10px;

  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .feature-card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card h4 {
    margin-bottom: 10px;
    color: #007bff;
    font-size: 1.5rem;
  }
  .feature-card p{
    font-size: 1.25rem;
  }

  .cards{
    display: flex;
    justify-content: center;
    gap: 20px;  
  }