/* General Styles */
/* *{
  margin: 0;
  padding: 0;
} */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    /* background-color: #f4f4f4; */
    color: #333;
    background-image: url('../img/hd.jpg');
    /* background-repeat: no-repeat; */
    background-size: cover; /* Scale the image to cover the entire background */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-attachment: fixed;  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  /* Hero Section */
  /* .hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 20px;
    color: white;
  } */
  
   .hero h1 {
    font-size: 10rem;
    font-family:'britannic bold';
    margin-bottom:0;
    color:white;
    margin-left: 10rem;
  }
  h2 {
    font-size: 5rem;
    font-family: 'Roboto', sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
    color: white;
    margin-left: 10rem;


  }
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 20px;
    color: white;
  }
  
  .hero button {
    background-color: #ffcc00;
    color: #333;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .hero button:hover {
    background-color: #ff9900;
  }
  
  /* Features Section */
  .features {
    padding: 40px 20px;
    /* background-color: white; */
  }
  
  .features h3 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2rem;
  }
  
  .feature-cards {
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  
  .feature-card {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .feature-card h4 {
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .cards{
    display: flex;
    justify-content: center;
    gap: 20px;  
  }